---
import NoiseWrapper from './NoiseWrapper.astro'
import games from '../data/games.json'
import Heading from './Heading.astro'
import VidPreview from './VidPreview'

const { headingLevel } = Astro.props
---

<section class='py-xl'>
	<div class='max-w-screen-2xl mx-auto rounded-lg overflow-hidden'>
		<Heading
			level={headingLevel}
			class='text-step-3 sm:text-step-4 font-bold font-robotoCondensed leading-tight text-cream-500 p-2xs'
		>
			&#127918; Latest & Greatest
		</Heading>
		<NoiseWrapper>
			<div
				class='px-s py-l bg-black-400/20 grid grid-cols-1 lg:grid-cols-2 gap-s'
			>
				{
					games.map(
						(game) =>
							game.status && (
								<div class='mx-auto border-4 border-cream-500 hover:border-yellow-500 hover-transition overflow-hidden rounded-sm opacity-80 hover:opacity-100'>
									<a href={`/${game.id}`}>
										<VidPreview game={game} client:load />

										<div class='px-2xs py-xs space-y-2xs text-cream-200 bg-black-500 flex flex-col h-full'>
											<p class='text-step-1 font-bold font-robotoCondensed uppercase leading-tight'>
												{game.title}
											</p>
											<p class='font-light text-cream-500/80'>
												{game.description}
											</p>
										</div>
									</a>
								</div>
							)
					)
				}
			</div>
		</NoiseWrapper>
	</div>
</section>
