---
import NoiseWrapper from './NoiseWrapper.astro'
import games from '../data/games.json'
---

<section class='pb-xl'>
	<div class='max-w-screen-2xl mx-auto rounded-lg overflow-hidden'>
		<h1
			class='text-step-3 sm:text-step-4 font-bold font-robotoCondensed leading-tight text-cream-500 py-s'
		>
			&#127918; Latest & Greatest
		</h1>
		<NoiseWrapper>
			<div
				class='px-s py-m bg-black-400/20 grid grid-cols-1 lg:grid-cols-2 gap-s'
			>
				{
					games.map(
						(game) =>
							game.status && (
								<div class='mx-auto'>
									<a
										href={`/${game.id}`}
										class='inline-block relative rounded-sm overflow-hidden'
									>
										<img
											src={game.thumbnail}
											alt={game.title}
											class='relative'
										/>
										<div class='px-2xs py-xs absolute z-20 bottom-0 text-cream-200 bg-gradient-to-b from-black-500/0 via-black-500 to-black-500 w-full h-[80%] sm:h-[60%] flex flex-col justify-end'>
											<p>
												<span
													class={`px-2xs py-3xs text-step--1 font-medium rounded-sm uppercase ${game.status === 'new' ? 'bg-yellow-500' : 'bg-orange-500'} text-black-500`}
												>
													{game.status}
												</span>
											</p>

											<p class='text-step-1 font-bold font-robotoCondensed uppercase pt-xs pb-2xs leading-tight'>
												{game.title}
											</p>
											<p class='font-light text-cream-500/80'>
												{game.description}
											</p>
										</div>
									</a>
								</div>
							)
					)
				}
			</div>
		</NoiseWrapper>
	</div>
</section>
